html {
  box-sizing: border-box;
}
* *,
::after,
::before {
  box-sizing: inherit;
}
html {
  max-width: 1000px;
  margin: 0 auto;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: rgb(255, 255, 255);
  font-family: "Lato", sans-serif;
  max-width: 1000px;
}
