::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: white;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(rgb(29, 196, 98), #c01a30);
  border-radius: 100vw;
  width: 0.5rem;
}

.zadania_label {
  width: 100%;
  height: 100%;
}

hr {
  border: 1px solid #ccc;
  width: 100%;
  display: grid;
  grid-column: span 3;
}
@media (max-width: 700px) {
  hr {
    border: 1px solid #ccc;
    width: 100%;
    display: grid;
    grid-column: span 1;
  }
}
