.zadania_done {
  border: none;
  background: linear-gradient(rgb(84, 214, 84), rgb(60, 182, 60));
  transition: 0.2s;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 5px;
}
.zadania_done:hover {
  background-color: rgb(13, 168, 13);
  transform: scale(1.07);
}
.zadania_delete {
  border: none;
  background: linear-gradient(rgb(219, 87, 87), rgb(165, 47, 47));
  transition: 0.2s;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 5px;
}
.zadania_delete:hover {
  background-color: rgb(173, 46, 46);
  transform: scale(1.07);
}
.zadaniaToggleHide {
  color: hsl(0, 0%, 95%);
  background-color: teal;
  width: 49.5%;
  border: none;
  border-radius: 5px;
  padding: 10px;
  transition: 0.2s;
}
.zadaniaToggleHide:hover {
  transform: scale(1.03);
}
.zadaniaDoneAll {
  color: hsl(0, 0%, 95%);
  background-color: teal;
  width: 49.5%;
  border: none;
  border-radius: 5px;
  padding: 10px;
  transition: 0.2s;
}
.zadaniaDoneAll:hover {
  transform: scale(1.03);
}
.zadaniaMainButtons {
  display: flex;
  justify-content: space-between;
}
